.login-container {
  background-color: #d2dbe0;
  border-bottom: 2px solid #232f34;
  border-top: 5px solid #232f34;
  height: 40vh;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.login-form {
  margin: 0 auto;
  position: relative;
  width: 30%;
}

.login-form .logo {
  position: absolute;
  right: 0;
  top: -5px;
}

.login-buttons {
  padding: 5px 0;
}

@media (max-width: 639px) {
  .login-form {
    padding: 0 20px;
    width: 100%;
  }

  .login-form .logo {
    right: 20px;
  }
}
