.nav-fixed {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  background-color: #232f34;
  border-bottom: 2px #d2dbe0;
  color: #f0f0f0;
  height: 60px;
}

nav .logo {
  float: left;
  height: 60px;
}

nav .logo img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

nav .menu {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}

nav .menu li {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  position: relative;
}

nav .menu li:last-child {
  padding-right: 0;
}

nav .menu li a {
  color: #f9aa33;
  display: block;
}

nav .menu li:hover .submenu {
  display: block;
}

nav .submenu {
  display: none;
  background-color: #232f34;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: -20px;
  top: 100%;
}

nav .submenu li {
  display: block;
  padding: 0 20px !important;
  white-space: nowrap;
}
