@import 'https://fonts.googleapis.com/css?family=Ubuntu+Condensed';
@import './login.css';
@import './form.css';
@import './nav.css';
@import './sidebar.css';
@import './columns.css';
@import './table.css';
@import './modal.css';

body,
html {
  color: #020202;
  height: 100vh;
  font-family: 'Ubuntu Condensed';
  font-size: 15px;
  margin: 0;
  padding: 0;
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button,
input {
  color: #020202;
  font-family: 'Ubuntu Condensed';
  font-size: 15px;
}

.wrapper {
  padding-top: 60px;
}

.container {
  height: 100%;
  padding: 0 20px;
}

.main-container {
  height: calc(100vh - 60px);
  overflow: auto;
}
